*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 1rem;
}

form {
    max-width: 400px;
}

label, input {
    display: block;
    width: 100%;
}

label {
    cursor: pointer;
    margin-bottom: 0.5rem;
}

input {
    margin-bottom: 1rem;
}

button, input {
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem;
}

input[type="text"],
input[type="password"] {
    background-color: white;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 0.25rem;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: 0 none;
    box-shadow: 0 0 0.5rem rgba(0, 119, 255, 0.65);
    border-color: rgb(0, 119, 255);
}